spring:
  application:
    name: proyecto-bancario
  
  datasource:
    url: jdbc:postgresql://localhost:5432/bancodb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080
  servlet:
    context-path: /api

logging:
  level:
    root: INFO
    ec.com.dinersclub: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG

app:
  daily-withdrawal-limit: 1000.00
